.card-btnVerificar{
    border: thin solid rgb(220, 220, 220);
    background-color: #2beb9157 !important;
}


.btn-mudarNome{
    border: thin solid transparent !important;
    background-color: #027CE9 !important;
    color: #fff !important;
    border-radius: 0;
}
.btn-mudarNome:hover{
    background-color: #0062b8 !important;
    color: #fff !important;
    border-color: #027de94f !important;
    transition: 300ms;
}




.btn-mudarNomeModal{
    border: thin solid transparent !important;
    background-color: #027CE9 !important;
    color: #fff !important;
}
.btn-mudarNomeModal:hover{
    background-color: #0062b8 !important;
    color: #fff !important;
    border-color: #027de94f !important;
    transition: 300ms;
}




.btn-cancelarModal{
    border: thin solid transparent !important;
    background-color: #e02828 !important;
    color: #fff !important;
}

.btn-cancelarModal:hover{
    background-color: #a72020 !important;
    color: #fff !important;
    border-color: #e0282860 !important;
    transition: 300ms;
}