html {
	height: 100%
}

h2{
	color: #027CE9 !important;
}
#form {
	text-align: center;
	position: relative;
	margin-top: 20px
}

#form fieldset {
	background: white;
	border: 0 none;
	border-radius: 0.5rem;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding-bottom: 20px;
	position: relative
}

.finish {
	text-align: center
}

#form fieldset:not(:first-of-type) {
	display: none
}

#form .previous-step, .next-step {
	width: 100px;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 0px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px 10px 0px;
	float: right
}

.form, .previous-step {
	background: #616161;
}

.form, .next-step {
	background: #027CE9 !important;
}

#form .previous-step:hover,
#form .previous-step:focus {
	background-color: #000000
}

#form .next-step:hover,
#form .next-step:focus {
	background-color: #027CE9 !important;
}

.text {
	color: #027CE9 !important;
	font-weight: normal
}

#progressbar {
	padding-top: 30px;
	margin-bottom: 30px;
	overflow: hidden;
	color: rgba(80, 80, 80, 0.712);
}

#progressbar .active {
	color: #027CE9 !important;
}

#progressbar li {
	list-style-type: none;
	font-size: 15px;
	width: 25%;
	float: left;
	position: relative;
	font-weight: 400
}

#progressbar #step1:before {
	content: "1"
}

#progressbar #step2:before {
	content: "2"
}

#progressbar #step3:before {
	content: "3"
}

#progressbar #step4:before {
	content: "4"
}

#progressbar li:before {
	width: 50px;
	height: 50px;
	line-height: 45px;
	display: block;
	font-size: 20px;
	color: #ffffff;
	background: rgb(80, 80, 80);
	border-radius: 50%;
	margin: 0 auto 10px auto;
	padding: 2px
}



#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: lightgray;
	position: absolute;
	left: 0;
	top: 25px;
	z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
	background: #027CE9 !important;
}

.progress {
	height: 20px
}

.progress-bar {
	background-color: #027CE9 !important;
}


.bg-carrinho{
	background-color: rgb(220, 220, 220);
}

.card{
	flex-direction: row !important;
}

.card > img{
	width: 30% !important;
}

.card-body{
	width: 70% !important;
}

.ps-precoTotal{
	margin-top: 4.7rem !important;
}