.container-fluid.side-separators{
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 2px solid rgb(235, 235, 235) !important;
    border-right: 2px solid rgb(235, 235, 235) !important;
}

.container-fluid.container-search{
    background-color: rgba(252, 252, 252, 0.904);
    /*background-color: #636363 !important;*/
    border: 1px solid rgb(235, 235, 235) !important;
    
}

@media (min-width: 992px){
    .container-fluid.container-search{
        /*position: fixed !important;
        width: inherit !important;*/
    }
}

.container-fluid.border-produto{
    border: 1px solid rgb(235, 235, 235) !important;
}

.btn-pub:hover{
    color: rgb(235, 235, 235) !important;
    background-color: #027CE9 !important;
    transition: 300ms;
}

.btn-pub:hover > div > div > .expand-more{
    fill: rgb(235, 235, 235) !important;
    transition: 300ms;
}

.btn-pub:hover > div > div > .star-rate{
    fill: rgb(235, 235, 235) !important;
    transition: 300ms;
}

.btn-pub[aria-expanded="true"] > div > div.expand > svg{
    transform: rotate(180deg);
    transition: 300ms;
}

.svg-btn{
    fill: #027CE9 !important;
    height: 30px !important;
    width: 30px !important;
}

.container-fluid.container-resultado{
    /*background-color: rgba(245, 245, 245, 0.904) !important;*/
    background: rgba(252, 252, 252, 0.904) !important;
    /*background-color: #333333 !important;*/
    border: 1px solid rgb(235, 235, 235) !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    /*background: linear-gradient(180deg, rgba(233,233,233,1) 0%, rgba(236,236,236,1) 25%, rgba(239,239,239,1) 50%, rgba(242,242,242,1) 75%, rgba(245,245,245,1) 100%);
    border: thin solid rgb(215,215,215);*/
}

.container-pagina{
    background: rgba(235, 235, 235) !important;
    border: 1px solid rgb(220, 220, 220) !important;
    border-top: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.card.card-resultado{
    flex-direction: row !important;
    border: thin solid rgb(210, 210,210);
}

.card.card-resultado > img{
    width: 30% !important;
}

.card-title.card-resultado{
    font-size: 36px !important;
}

.card-text.card-resultado{
    font-size: 24px;
}

a:hover{
    color: black !important;
}

a:hover > .card.card-resultado{
    border-color: #027de981;
    transform: translateX(10px) !important;
    transform: scale(1.03, 1.03);
    transition: 300ms;
}





/*
.card.card-resultado{
    height: 12rem !important;
    width: 12rem !important;
}

@media(max-width: 1550px) {
    .card.card-resultado{
        width: 11rem !important;
        height: 11rem !important;
    }
}

@media(max-width: 1410px) {
    .card.card-resultado{
        width: 10rem !important;
        height: 10rem !important;
    }
}

@media(max-width: 1280px) {
    .card.card-resultado{
        width: 9rem !important;
        height: 9rem !important;
    }

    .card-title.card-resultado{
        font-size: 1rem !important;
    }

    .card-text.card-resultado{
        font-size: 0.75rem !important;
    }
}

@media(max-width: 1140px) {
    .card.card-resultado{
        width: 8rem !important;
        height: 8rem !important;
    }

    .card-title.card-resultado{
        font-size: 0.8rem !important;
    }

    .card-text.card-resultado{
        font-size: 0.6rem !important;
    }
}

@media(max-width: 991px) {
    .card.card-resultado{
        height: 10rem !important;
        width: 10rem !important;
    }

    .card-title.card-resultado{
        font-size: 1rem !important;
    }

    .card-text.card-resultado{
        font-size: 0.8rem !important;
    }
}

@media(max-width: 575px) {
    .card.card-resultado{
        height: auto !important;
        width: auto !important;
    }

    .card-title.card-resultado{
        font-size: 0.9rem !important;
    }

    .card-text.card-resultado{
        font-size: 0.7rem !important;
    }
}
*/