.container-fluid.bg-whiteGrey{
    background-color: rgb(250, 250, 250) !important;
    border: 0 !important;
}

.select-avaliacao{
    border: 0 !important;
    border-radius: none !important;
    background-color: rgb(225, 225, 225);
    
}

select:focus{
    box-shadow: none !important;
    border: thin solid #027CE9 !important;
}

.btn-carousel-blue{
    background-color: #027CE9 !important;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #027CE9;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-indicators [data-bs-target]:hover{
    background-color: #59b2ff;
    /*opacity: .30;*/
    transition: 300ms;
}

.carousel-indicators button[data-bs-target][aria-current="true"]{
    background-color: #ee0b0b;
    /*opacity: .30;*/
}

.btn-cart{
    background-color: rgb(235, 235, 235);
    color: #027CE9;
}

.btn-cart:hover{
    color: rgb(235, 235, 235) !important;
    background-color: #027CE9 !important;
    transition: 300ms;
}

.btn-cart:hover > span.material-icons{
    color: rgb(235, 235, 235) !important;
    transition: 300ms;
}

.btn-pub{
    background-color: rgb(235, 235, 235);
    color: #027CE9;
}

.btn-pub:hover{
    color: rgb(235, 235, 235) !important;
    background-color: #027CE9 !important;
    transition: 300ms;
}

.btn-pub:hover > div > div > .expand-more{
    fill: rgb(235, 235, 235) !important;
    transition: 300ms;
}

.btn-pub:hover > div > div > .star-rate{
    fill: rgb(235, 235, 235) !important;
    transition: 300ms;
}

.btn-pub[aria-expanded="true"] > div > div.expand > svg{
    transform: rotate(180deg);
    transition: 300ms;
}

.svg-btn{
    fill: #027CE9;
    height: 30px;
    width: 30px;
}

.container-fluid.top-separator{
    border-top: 2px solid rgb(235, 235, 235) !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

hr.hr-coments{
    color: #027CE9 !important;
}

div.col-3 > .card-img-comentario{
    height: 100%;
    width: 100%;
}

.fill-star{
    fill: rgb(255, 255, 14) !important;
    flood-color: rgb(255, 255, 14) !important;
    height: 40px;
    width: 40px;
}

.fill-star-deact{
    fill: rgb(255, 255, 195) !important;
    flood-color: rgb(255, 255, 195) !important;
    height: 40px;
    width: 40px;
}

.container-fluid.bottom-separator{
    border-top: 0 !important;
    border-bottom: 1px solid rgb(235, 235, 235) !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.container-fluid.bg-user-coment{
    background-color: #fdfdfd;
    border-top: 1px solid rgb(235, 235, 235) !important;
    border-bottom: 1px solid rgb(235, 235, 235) !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

@media(min-width: 992px) {
    .card-user{
        height: 12rem !important;
    }
}